/* HOME */
#home{
    background: linear-gradient(90deg, rgb(101, 206, 101) 0%, rgb(190, 210, 188)
    100%);
    min-height: 210px;
}

/* ABOUT */
#about{
    background: linear-gradient(90deg, rgb(101, 206, 101) 0%, rgb(190, 210, 188)
    100%);
}

/* FOOTER */
.footer{
    background: rgb(134, 180, 131);
}

#faq{
    background: linear-gradient(90deg, rgb(100,240,160) 0%, rgba(170,255,220) 100%);
    min-height: 240px;
    max-height: 240px;
}

/* ANIM */
.card{
    transition: all 0.5s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* FORM */
.form{
    background: rgb(0,85,180);
    background: linear-gradient(90deg, rgb(170,200,170) 0%, rgba(215,200,170,1)
    100%);
}

