/* HOME */
#home{
    background: linear-gradient(90deg, rgb(101, 206, 101) 0%, rgb(190, 210, 188)
    100%);
    min-height: 210px;
}

/* ABOUT */
#about{
    background: linear-gradient(90deg, rgb(101, 206, 101) 0%, rgb(190, 210, 188)
    100%);
}

/* NAVBAR */
#navbar{
    background-image: url('kitchen.jpg')
}

/* FOOTER */
.footer{
    background: rgb(192, 177, 162);
}

/* RECIPE */
#recipe{
    background: rgb(255,255,255);
    background-repeat: no-repeat;
    padding: 1px;
}

#faq{
    background: linear-gradient(90deg, rgb(100,240,160) 0%, rgba(170,255,220) 100%);
    min-height: 240px;
    max-height: 240px;
}

/* ANIM */
.card{
    transition: all 0.5s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* FORM */
.form{
    background: rgb(61, 156, 64);
    background: linear-gradient(90deg, rgb(170,200,170) 0%, rgba(215,200,170,1)
    100%);
}

.anim_gradient {
    background: linear-gradient(132deg, #F4D03F  0%, #16A085 100%);
            backgroundSize : "400% 400%";
            animation : "gradient 25s ease infinite";
        }
          
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
};